.pokemon-card {
  display: flex;
  flex-direction: column;
  margin: 2.5vh 20px;
  justify-content: center;
  align-self: flex-start;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  background: transparent;
  border-radius: 10px;
}

img {
  align-self: center;
}
