.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin: 2.5vh 20px;
  max-height: 300px;
  max-width: 200px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  background: transparent;
  border-radius: 10px;
}

/* Redundant max height/width bc Chrome renders dif from Firefox */
img {
  max-height: 300px;
  max-width: 200px;
  align-self: center;
}
/* 
CSS hover-zoom effect way too slow and janky
.pokemon-card-wrapper:active img {
  filter: blur(20px);
  opacity: 0.5;
}

.pokemon-card-wrapper img:active {
  filter: blur(0px);
  transform: scale(1.75);
  opacity: 1;
} */
