.landing-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(1, 80, 82), rgb(0, 150, 152));
  color: white;
  font-size: 1.5rem;
}
