.pokemon-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  margin: 0 auto;
  background-color: rgb(0, 150, 152);
  color: white;
}

form > label {
  padding: 0 10px;
}

.pokemon-search > input {
  width: 15vw;
  height: 2.5rem;
  border-radius: 2px;
  padding: 12px 14px;
  background-color: rgb(3, 109, 110);
  color: white;
  border-color: rgb(3, 109, 110);
}

.searched-wrapper {
  background-color: aquamarine;
  margin-bottom: 2vh;
}
