.pokemon-search-landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px 0;
  color: white;
}

form > label {
  padding: 0 10px;
}

.pokemon-search-landing input {
  width: 15vw;
  border-radius: 2px;
  padding: 12px 14px;
}
