.searched-pokemon-header {
  width: 80vw;
  margin: 0 10vw;
}
.searched-pokemon-wrapper {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* button {
  flex: 1 1 5vw;
  min-width: 11ch;
  max-width: 10vw;
  margin: 5px;
} */
.searched-pokemon {
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #2241ee;
  background-color: #2754d1;
  cursor: pointer;
  padding: 8px 10px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
}
